---
title: Checkout
description:
sitemap: false
layout: default
---

<div id="empty-cart-message" style="display:none; padding: 20px; text-align: center;">
  <h2>🛒 Looks like your cart is empty.</h2>
  <p>Please add items to your cart before checking out.</p>
</div>

    
<div id="checkout-content">
<div class="cart-container">
  <h2>Your Cart</h2>
  <div class="cart-items"></div>
  <div class="cart-total"></div>
  <div class="cart-buttons"></div>
</div>
    
<div class="form-container" id="form-container">
<h1> Ready to check out?</h1>
<form method="post" name="submit-to-google-sheet" class="order-form">
<!-- Customer fields -->
<input type="text" name="First Name" placeholder="First Name" required />
<input type="text" name="Last Name" placeholder="Last Name" />
<input type="email" name="Email" placeholder="Email" required />
<input type="text" name="Street" placeholder="Street" />
<input type="text" name="City" placeholder="City" />
<input type="text" name="State" placeholder="State" />
<input type="text" name="Zip Code" placeholder="Zip Code" />
Any additional comments or requests?
<input type="text" name="Any additional comments or requests?" placeholder="Your text here">

<!-- Hidden fields -->
<textarea name="Items" id="items-field" style="display:none;"></textarea>
<input type="hidden" name="Total Cost" id="total-cost-field" />
<input type="hidden" name="Timestamp" id="timestamp-field" />

<button type="submit" class="submit-btn">Submit Order</button>
</form>
</div>

<div id="status-message" class="status-message" style="display:none;">
    <div id="loading" class="loading" style="display:none;">Submitting order. Do not refresh the page...</div>
    <div id="success" class="success" style="display:none;">Submitted!</div>
    <div id="error" class="error" style="display:none;">Submission failed. Please try again.</div>
  </div>
</div>



