---
layout: default
---

<!---
We have 3 types of products: clothing, food, accessory
Food has a dropdown flavor selector menu. Clothing has a clickable color option viewer.
-->

<div class="site-inner">
  <div class="wrap">
    
    <div class="shelf-item">
    <div class="single-product">
      
      <section class="product-image">
        <img src="{{ page.featured_image_path }}" class="item_image" />
        </section>
        
          <section>
          <h1 class="entry-title item_name">{{ page.title }}</h1>
          <p class="item_price" >&#x24;{{ page.price }}</p>
          {{ content }}
          
          <div class="product-details" style="margin-left:0px;">
          {% if page.product_type == "clothing" %}
        	<div class="style-picker">
            Color: <span style="display:inline-block; width: 5px;"></span>
            {% for c in page.colors %}
              <button style="background-color: {{ c.color }}" class="change-color-btn" itempropimg="{{c.image_path}}" itempropcol="{{c.name}}"></button>
              {% endfor %}
              <span class="item_color" itemprop="{{page.colors[0].name}}"></span>
                <script>
                var colorBtns = document.getElementsByClassName('change-color-btn');
                for (var i = 0; i < colorBtns.length; i++) {
                  btn = colorBtns[i];
                  btn.addEventListener('click', function(event) {
                  var path = event.target.getAttribute("itempropimg");
                  var colname = event.target.getAttribute("itempropcol");
                  document.getElementsByClassName('item_image')[0].src = path;
                  document.getElementsByClassName('item_color')[0].setAttribute("itemprop", colname);
                });
                }
                </script> 
            <br /><br />
            </div>
            Size:
          <select class="item_size">
            {% for size in page.sizes %}
              <option value="{{ size }}"> {{ size }} </option>
            {% endfor %}
          </select>
          <br /><br />
      {% endif %}
          
          
          {% if page.product_type == "food" %} 
          Flavor:
          <select class="item_flavor">
           {% for flavor in page.flavors %}
             <option value="{{ flavor }}"> {{ flavor }} </option>
           {% endfor %}
          </select>
          <br /><br />
          {% endif %}
          
          Quantity:
          <select class="item_quantity">
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
          </select>
        </div>
        <br />
        <button class="add-to-cart-btn button"> Add to Cart </button>
      </div>
      </section>
      </div>
    </div>
  </div>
</div>
